<div class="form-group">
  <h1 style="text-align: center;">Log In</h1>

    <%= simple_form_for(@user, url: user_session_path) do |f| %>

    <div class="field" style="padding: 15px;">
    <%= f.label :email, :class => "col-sm-2 control-label" %><br />
    <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "e-mail" %>
    </div>

    <div class="field" style="padding: 15px;">
    <%= f.label :password, :class => "col-sm-2 control-label" %><br />
    <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password" %>
    </div><br />

    <div class="actions" style="padding-left: 15px;">
      <%= f.submit "Log In", :class => "btn btn-md btn-success" %>
    </div><br />
  <% end %>
</div>
